<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Article</title>
        <link rel="stylesheet" th:href="@{/styles.css}" />
    </head>

    <body>
        <h1>Save an Article</h1>
        <form method="POST" th:object="${article}">
            <div class="grid">
                <h3>info 1:</h3>
                <div>
                    <input name="summary" type="text" th:value="${article.summary}" th:field="*{summary}" placeholder="summary"/>
                    <span th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}">Summary Error</span>
                    <input name="country" type="text" th:value="${article.country}" placeholder="country"/>
                    <input name="author" type="text" th:value="${article.author}" placeholder="author"/>
                    <input name="link" type="text" th:value="${article.link}" placeholder="link"/>
                    <input name="language" type="text" th:value="${article.language}" placeholder="language"/>
                </div>

                <h3>info 2:</h3>
                <div>
                    <input name="media" type="text" th:value="${article.media}" placeholder="media"/>
                    <input name="title" type="text" th:value="${article.title}" th:field="*{title}" placeholder="title"/>
                    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</span>
                    <input name="mediaContent" type="text" th:value="${article.mediaContent}" placeholder="media content"/>
                    <input name="cleanUrl" type="text" th:value="${article.cleanUrl}" placeholder="clean URL"/>
                    <input name="rights" type="text" th:value="${article.rights}" placeholder="rights"/>
                    <input name="rank" type="text" th:value="${article.rank}" placeholder="rank"/>
                </div>

                <h3>info 3:</h3>
                <div>
                    <input name="topic" type="text" th:value="${article.topic}" placeholder="topic"/>
                    <input name="publishedDate" type="text" th:value="${article.publishedDate}" placeholder="published date"/>
                    <input name="id" type="text" th:value="${article.id}" placeholder="id"/>
                </div>
                <br/>

                <button>Submit Article</button>
            </div>


        </form>
    </body>
</html>