<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TTS</title>
    </head>

    <body>
        <h1>Welcome</h1>
        <tr th:each="article: ${articles}">
            <td th:text="${article.id}" />
            <td th:text="${article.summary}" />
            <td th:text="${article.country}" />
            <td th:text="${article.author}" />
            <td th:text="${article.link}" />
            <td th:text="${article.language}" />
            <td th:text="${article.media}" />
            <td th:text="${article.title}" />
            <td th:text="${article.mediaContent}" />
            <td th:text="${article.cleanUrl}" />
            <td th:text="${article.rights}" />
            <td th:text="${article.rank}" />
            <td th:text="${article.topic}" />
            <td th:text="${article.publishedDate}" />
            <br/>
        </tr>
        <form method="POST" th:action="@{/go-to-add-article}">
            <button>Add article</button>
        </form>
    </body>

</html>