<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://thymeleaf.org">
    <head>
        <title>TTS Cloud Registration</title>
    </head>

    <body>
        <h1>Register</h1>

        <form method="POST" th:action="@{/register}" id="registerForm">

            <label for="username">User name: </label>
            <input type="text" id="username" name="username" /></br>

            <label for="password">Password: </label>
            <input type="text" id="password" name="password" /></br>

            <label for="confirm">Confirm Password: </label>
            <input type="text" id="confirm" name="confirm" /></br>

            <label for="fullname">Full name: </label>
            <input type="text" id="fullname" name="fullname" /></br>

            <label for="street">Street: </label>
            <input type="text" id="street" name="street" /></br>

            <label for="city">City: </label>
            <input type="text" id="city" name="city" /></br>

            <label for="state">State: </label>
            <input type="text" id="state" name="state" /></br>

            <label for="zip">Zip: </label>
            <input type="text" id="zip" name="zip" /></br>

            <label for="phone">Phone: </label>
            <input type="text" id="phone" name="phone" /></br>

            <input type="submit" value="Register"/>

        </form>
    </body>

</html>